<footer>
    <nav>
        <a href='https://www.notion.so/haechanlee96/ProjectName-S-A-e95829474db949508cef3599e8680b5c' target='_blank'>Notion</a> |
        <a href='https://github.com/Hanghae99-16-11-challenge/Random-Drive-Project' target='_blank'>Github</a>
    </nav>
    <p>
        <span>Reference : https://developers.kakao.com</span><br>
        <span>Source Code : https://github.com/WonYong-Jang/Pharmacy-Recommendation</span><br>
        <span>Copyright 2022. WonYong-Jang. All Rights Reserved.</span>
    </p>
</footer>